<div>
    <h1>友情链接</h1>
    <ul>
        <li><a href="http://tongji.baidu.com" target="_blank">百度统计</a></li>
        <li><a href="http://mtj.baidu.com" target="_blank">百度移动统计</a></li>
    </ul>
</div>