<!DOCTYPE html>
<html>
<head>
    <title>Post Bear</title>
    <link rel="stylesheet" href="styles/bootstrap.css"/>
    <%-stylesheets%>
</head>
<body>
    <%-body -%>
    <script src="js/dependencies/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <%-scripts%>
</body>
</html>