<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Postbear</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
            <section class="request">
                <div class="request-types">
                    <ul class="nav nav-tabs" id="navTabs">
                        <li class="active">
                            <a href="#retrieve" aria-controls="retrieve" data-toggle="tab">Retrieve</a>
                        </li>
                        <li>
                            <a href="#create" aria-controls="create" data-toggle="tab">Create</a>
                        </li>
                        <li>
                            <a href="#delete" aria-controls="delete" data-toggle="tab">Delete</a>
                        </li>
                        <li>
                            <a href="#other" aria-controls="other" data-toggle="tab">Other</a>
                        </li>
                    </ul>
                </div>
                <div class="request-helpers tab-content">
                    <div id="retrieve" class="tab-pane active">
                        <div class="request-url">
                            <div class="request-url-wrapper">
                                <div class="request-url-container">
                                    <div class="input-group">
                                        <input type="text" class="form-control" aria-label="..." placeholder="Please enter story here" id="request">
                                        <div class="input-group-btn">
                                             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span id="key" data-key="story">Story</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a href="javascript:void(0);" data-key="story">Story</a></li>
                                                <li><a href="javascript:void(0);" data-key="url">Url</a></li>
                                                <li><a href="javascript:void(0);" data-key="author">Author</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="request-actions">
                            <div class="request-actions-primary">
                                <button class="btn btn-primary" id="send">Send</button>
                                <button class="btn btn-danger" id="reset">Reset</button>
                            </div>
                        </div>

                        <div class="response-preview">
                            <div class="response-waiting-container" style="display:none" id="waiting">
                                <h3>Loading...</h3>
                            </div>
                            <div class="response-success-container" style="display:none" id="success">
                                <div class="response-top-bar">
                                    <div class="response-status">
                                        <span class="label label-default">STATUS</span>
                                        <span id="status"></span>
                                    </div>
                                    <div class="response-time">
                                        <span class="label label-default">TIME</span>
                                        <span id="time">63 ms</span>
                                    </div>
                                </div>
                                <div class="response-preview-container" id="editor" style="border:1px solid #ccc"><%= data %></div>
                            </div>
                            <div class="response-failed-container" style="display:none" id="failed">
                                <h3>Could not get any response</h3>
                                <p>
                                    This seems to be like an error connecting to http://. The response status was 0.
                                    <br>
                                    Check out the W3C XMLHttpRequest Level 2 spec for more details about when this happens.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div id="create" class="tab-pane clearfix">
                        <div class="create-container">
                            <div class="form-group form-url">
                                <label for="url" class="control-label">Url<span class="required">*</span></label><span class="err-msg"></span>
                                <ul class="create-url">
                                    <li class='url-item'>
                                        <div class="form-inline form-width url-control">
                                            <input type="text" class="form-control" placeholder="Home" id="url">
                                            <button class="btn" id="addUrl">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                            <button id="urlTooptip" class="btn" data-toggle="tooltip" title="No data" data-placement="right">Preview</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="author" class="control-label">Author</label>
                                <input type="text" class="form-control form-width" id="author" value="songjunke" disabled>
                            </div>
                            <div class="form-group form-story">
                                <label for="story" class="control-label">Story</label><span class="err-msg"></span>
                                <input type="number" class="form-control form-width" id="story" placeholder="Story" min="1">
                            </div>
                            <div class="form-group">
                                <label for="description" class="control-label">Description</label>
                                <textarea class="form-control form-width" id="description" placeholder="Description" rows="3"></textarea>
                            </div>
                            <div class="form-group form-parameter">
                                <label for="description" class="control-label">Parameters</label><span class="err-msg"></span>
                                <ul class="create-parameters">
                                    <li class='parameters-item'>
                                        <div class="form-inline form-width">
                                            <input type="text" class="form-control" name="parameter" placeholder="Parameter">
                                            <input type="text" class="form-control" name="description" placeholder="Description">
                                            <button class="btn" id="add">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group form-response">
                                <label class="control-label">Response<span class="required">*</span></label><span class="err-msg"></span>
                                <div class="create-editor-container" id="createEditor"></div>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                        
                        <div class="request-actions">
                            <div class="request-actions-primary">
                                <button class="btn btn-primary" data-loading-text="Submit" id="createSubmit">Submit</button>
                                <button class="btn btn-danger" id="createReset">Reset</button>
                            </div>
                        </div>
                    </div>

                    <div id="delete" class="tab-pane">delete</div>

                    <div id="other" class="tab-pane">other</div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- 添加成功后的modal-dialog -->
<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="successDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Success</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <h3 class="col-md-8">Created successfully!</h3>
                    </div>
                    <div class="row">
                        <p class="col-md-8">Will be automatically closed after <span id="count"></span> minutes...</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 添加成功后的modal-dialog -->
<div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="failedDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Failed</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <h3 class="col-md-8" style="color:red">Created failed!</h3>
                    </div>
                    <div class="row">
                        <p class="col-md-8" style="color:red">Something error happened, please retry.</p>
                    </div>
                    <div class="row">
                        <p class="col-md-8">Will be automatically closed after <span id="count"></span> minutes...</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
